* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #293241;
}

header,
footer {
  width: 100%;
  height: 120px;
  background-color: #3d5a80;
}

h1,
h2 {
  color: #ee6c4d;
  text-align: center;
}

ul {
  padding-left: 40px;
  font-size: 20px;
}

li {
  margin-bottom: 12px;
}

li,
p {
  color: #e0fbfc;
  text-align: center;
  font-size: 24px;
}

img {
  display: block;
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 80%;
  margin: 40px auto;
  border: 5px solid gray;
  box-shadow: 5px 10px #888;
}
